.MuiPaper-root.MuiCard-root.MuiPaper-outlined.MuiPaper-rounded{
    background-color: #6163ff !important;
}

.card-text-color{
    color:#ffff !important;
}

.card-button{
    line-height: 4px !important;
    height: 27px !important;
}