.MuiBox-root .MuiPaper-root{
    // background-color: #273345 !important;
    background-color: transparent !important;
    color: #dfeaec !important;
}

.MuiGrid-root .MuiPaper-root{
    // background-color: #273345 !important;
    background-color: transparent !important;
    color: #dfeaec !important;
}

div.MuiPaper-root{
    // background-color: #273345 !important;
    background-color: transparent !important;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}

// .MuiBox-root-16{
//     justify-content: left !important;
// }

.MuiPaper-rounded{
    border-radius: 10px !important;
}