.container,
.container-sm,
.container-xs {
	width: 100%;
	margin: 0 auto;
	padding-left: $container--padding__mobile;
	padding-right: $container--padding__mobile;

	@include media( '>small' ) {
		padding-left: $container--padding__desktop;
		padding-right: $container--padding__desktop;
	}
}

.container {
	max-width: $container--width + ( $container--padding__desktop * 2 );
}

.container-sm {
	max-width: $container--width-sm + ( $container--padding__desktop * 2 );
}

.container-xs {
	max-width: $container--width-xs + ( $container--padding__desktop * 2 );
}

[class*=container] {

	[class*=container] {
		padding-left: 0;
		padding-right: 0;
	}

    .container-sm {
		max-width: $container--width-sm;
    }

	.container-xs {
		max-width: $container--width-xs;
	}
}

.checked {
    color: #FFD700;
}


.survey-box {
	opacity: 1;
	transition: all 1s ease-out;
	visibility: visible;  
  }
  
  .survey-box-hide {
	visibility: hidden;
	transition: all 1s ease-out;
	opacity: 0;  
  }

  .dv-star-rating-star i{
	font-size: 200%;
  }

.emoji-hover{
	height:50px; 
	width:50px;
	padding:5px;
	cursor:pointer;
	display:-webkit-inline-box
}

.emoji-hover:hover{
	-webkit-transform: scale(1.5);
}

.emoji-selected{
	height:50px; 
	width:50px;
	padding:5px;
	cursor:pointer;
	display:-webkit-inline-box;
	-webkit-transform: scale(1.5);

}

.MuiFormLabel-root{
	color: #eceded !important;
}

.MuiLinearProgress-root{
	height: 10px !important;
}

.MuiLinearProgress-barColorPrimary{
	background-color: #eceded !important;
}

.MuiLinearProgress-colorPrimary{
	background-color: #9ca9b3 !important;
}

#subscribeEmail{
border-radius: 20px;
margin-left: 5px;

}

#subscribeBtn{
	border-radius: 20px;
	font-size: 0.8rem;
	margin-left: 5px;
	height: 35px;
	margin-top: 5px;
}